body{
    position: relative;
    background: hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
    font-family: "Outfit", sans-serif;
    font-weight: 500;
}

#container{
    background: hsl(216, 50%, 16%);
    position: absolute;
    
    width: 300px;
    height: 510px;
    align-items: center;
    left: 39%;
    top: 3em;
}
#pic img{
    position: absolute;
    height: 250px;
    left: 25px;
    top: 25px;
}

#conteudo{ 
    position: absolute;
    bottom: 100px;
    
    margin: 18px;

}
#conteudo a{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}
#baixo-conteudo{
    border-top: 1px solid hsl(215, 32%, 27%);
    position: absolute;
    left:15px ;
    bottom: 80px;
    width: 268px;
    padding-bottom: 30px;
    height: 15px;
}
.left{
    position: absolute;
    top: 10px;
    left: 20px;
}
.right{
    position: absolute;
    top: 10px;
    right: 20px;
}
#rodape{
    
    
    position: absolute;
    bottom: 10px;
    left: 15px;
    width: 268px;
    height: 55px;
    
    
    
    
}
#rodape img{
    position: absolute;
    top: 17px;
    
}
#rodape .name{
    position: absolute;
    left: 37px;
    bottom: 1px;
    width: 230px; 
    clear: both;
    
    line-height: 40px;
    
}
#rodape a{
    
    text-decoration: none;
    color: #fff;
}
.arredondamento{
    border-radius: 15px;
}
span{
    bottom: 0px;
    
}
.lefts{
    position: absolute;
    color:hsl(178, 100%, 50%) ;

    
}
.rights{
    position: absolute;
    right: 0px;
}
span img{
    position: relative;
    top: 3px;
    
}
#div-icon{
    position: absolute;
    box-sizing: border-box;
    height: 50px;
    width:50px ;
    
    top: 85px;
    left: 80px;
}
#div-icon img{
    clear: both;
    height: 100%;
}

.overlay {
  position: relative;
  top: 25px;
  left: 25px;
  width: 250px;
  height: 250px;
  background-color: rgba(0, 255, 247, 0.5); /* azul turquesa translúcido */
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
#pic:hover .overlay {
  opacity: 1;
}

#conteudo a:hover,
#rodape a:hover {
    color: hsl(178, 100%, 50%);
}

